<script id="favorites-details-template" type="text/x-handlebars-template">
    <div>
        <h1>{{name}}</h1>

        <p><span class="label">{{url}}</span></p>
    </div>
    <p></p>
    <button type="button" class="btn btn-danger confirm-delete">Delete</button>
</script>